
<!-- Footer -->

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-logo">
                    <img src="/static/assets/logo.png" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-links">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/analyze">Analyze</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-social">
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p>
        &copy; 2021 LegaCrop. All rights reserved. | Designed by <span>MintMill</span>
    </p>
</footer>


<script src="/static/scripts/main.js"></script>