<nav>
    <div class="left">
        <a href="/" class="logo">
            <img src="/static/assets/logo.png" alt="LegaCrop">
        </a>
    </div>
    <div class="right">
        <div class="ham-btn" id="ham-btn">
            <div class="bar" id="topLine"></div>
            <div class="bar" id="middleLine"></div>
        </div>
    </div>
</nav>


 <!-- Toggle Menu -->

 <div class="toggle-menu" id="menu">
    <div class="close-btn" id="close-btn">
        <a href="#"><i class="fa-solid fa-xmark"></i></a>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/analyze">Analyze</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
 </div>