<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/main/head.html' %}
    <title>LegaCrop</title>
</head>
<body>
    {% include 'includes/main/navbar.html' %}

    <div class="hero">
        <img src="/static/assets/hero.png" alt="">
        <div class="content">
            <h1>Grow your crops with LegaCrop</h1>
            <p><span>"</span> Get the best of your crops with LegaCrop, <br> We provide the best analysis for your soil <span>"</span></p>
            <a href="/analyze" class="btn"><i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
    

    {% include 'includes/main/footer.html' %}
</body>
</html>